@margin-bottom:  	20px;
@body-bg: 			#10293F;
@top-bg: 			#0d4a8b;

body {
	background: @body-bg;
	font-size: 16px;
	font-family: "ff-tisa-sans-web-pro", sans-serif;
}

img {
	max-width: 100%;
}

.logo,
.rashida {
	width: 100%;
}

.rashida {
	max-width: 300px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "ff-tisa-web-pro", Georgia, serif;
}

.top {
	background-color: @top-bg;
	padding-bottom: 20px;
	border-bottom: 20px solid rgba(255,255,255,.25);
}

.bordered-img {
	border-radius: 4px;
	border: 10px solid white;
}

.campaign-info {
	color: white;
	text-align: center;
}

.button-grouping {
	text-align: center;
}

.about h2,
.about h3 {
	//border-bottom: 1px solid @top-bg;
	padding: 10px;
	background: lighten(@body-bg, 5%);
	border-radius: 4px;
}

.about {
	color: white;
	margin-bottom: @margin-bottom;
	& strong {
		color: #BCE8F1;
		font-weight: normal;
	}
}

.get-involved li {
	margin-bottom: @margin-bottom;
}

.facebook,
.twitter {
	display: inline-block;
	height: 27px;
	width: 27px;
	background: url('../img/icons.png') no-repeat;
	vertical-align: middle;
	margin: 5px 5px 5px 0;
}

.facebook {
	background-position: right center;
}

.twitter {
	background-position: left center;
}

footer ul {
	padding: 10px;
	margin-bottom: @margin-bottom;
	border-radius: 4px;
	background: lighten(@body-bg, 5%);
}

@media screen and (min-width: 768px) {
	.button-grouping {
		margin-top: 30px;
	}


}

@media screen and (min-width: 1000px) {
	body {
		font-size: 18px;
	}

	.forms .panel {
		min-height: 275px;
	}
}